.bddhub {
	background-image: url("../images/parallax-light.jpg");
	height: 100vh;
}

.bddhub > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bddhub > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bddhub > div > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20vw;
	margin: 2vw;
}