html,
body {
	margin: 0%;
	padding: 0%;
}

/* reset margin and padding */

header {
	z-index: 10;
	position: fixed;
	display: flex;
	width: 96vw;
	height: 15vh;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

header > img {
	max-width: 100vw;
	max-height: 7vh;
}
.dropdown {
	flex: 2;
	display: flex;
	align-self: center;
	flex-direction: column;
}

.dropdown > div {
	display: flex;
	align-items: baseline;
	justify-content: baseline;
}

.dropdown > ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.dropdown > ul > li {
	display: none;
}

.dropdown:hover > ul > li {
	display: block;
}

.dropdown:hover {
	align-self: flex-start;
	justify-self: center;
}

.anchor {
	flex: 1;
}

.dropdown > div > i {
	margin-left: 10px;
}

a {
	align-items: center;
}

p {
	text-align: center;
	font-size: 14px;
}

nav {
	display: flex;
	justify-content: space-around;
	height: 8vh;
	min-width: 70vw;
}

@keyframes slideshow {
	0% {
		background-image: url("../images/slide1.jpg");
	}
	15% {
		background-image: url("../images/slide2.jpg");
	}
	30% {
		background-image: url("../images/slide3.jpg");
	}
	45% {
		background-image: url("../images/slide4.jpg");
	}
	60% {
		background-image: url("../images/slide5.jpg");
	}
	75% {
		background-image: url("../images/slide6.jpg");
	}
	90% {
		background-image: url("../images/slide7.jpg");
	}
}

.slideshowintro {
	height: 150vh;
	width: 100%;
	margin: 0px;
	background-image: url("../images/slide1.jpg");
	padding: 0px;
	animation-name: slideshow;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 0, 0, 2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.slideshowintro > p {
	font-size: 60px;
	text-justify: inter-cluster;
	margin: 0px;
	padding: 0px;
	color: white;
}

.foundationssection {
	height: 110vh;
	display: flex;
	justify-content: space-evenly;
}

.foundationscard {
	width: 15vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	flex-wrap: wrap;
	align-items: center;
	background-color: rgb(243, 242, 239);
}

.foundationscard > * {
	margin: 0px;
	padding: 0px;
	justify-content: center;
	align-items: center;
}

.foundationscard > p {
	justify-self: baseline;
	font-size: 20px;
}

.foundationscard {
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	align-content: center;
}

.parallax {
	/* Parallax effect */
	height: 80vh; /* Full height for each parallax section */
	background-attachment: fixed;
	/* fixed to the html */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* center of the screen, no repitition */
}

.explorethevision {
	background-image: url("../images/Shared-Space-at-BDD.png");
}

.explorethevision > div {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.explorethevision > div > a {
	width: 40%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-image: url("../images/video-3.jpg");
	text-decoration: none;
}

.explorethevision > div > a > i {
	scale: 4;
}

.explorethevision > div > a > img {
	scale: 1;
	width: 20%;
	height: 20%;
}

.explorethevision > div > h1 {
	color: white;
}

.joinourcommunity {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 150vh;
}

.joinourcommunity > div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.joincardsdiv {
	display: flex;
	width: 50vw;
}

.imgdiv {
	display: flex;
	align-items: flex-start;
	width: 30vw;
}

.imgdiv > img {
	max-width: 100%;
}

.joinproscards {
	min-width: 12vw;
	min-height: 80vh;
	background-color: rgba(0, 0, 0, 0.011);
	background-image: url(../images/bg-icon.png);
	border-radius: 10px;
	margin-right: 5px;
	padding: 20px;
}

.joinproscards > h1 {
	font-size: 20px;
}

.joincardsdiv {
	width: 60vw;
	margin-right: 40px;
}

.downloadappdiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.downloadappdiv > div {
	display: flex;
	justify-content: space-between;
	max-width: 60vw;
	max-height: 20vh;
	align-items: center;
}

.downloadappdiv > div {
	width: 100%;
	height: 100%;
	scale: 0.7;
}

.bddhub {
	background-image: url("../images/parallax-light.jpg");
}

.bddhub > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bddhub > div > div
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bddhub > div > div > div
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 15vw;
	margin: 5vw;
}

.whatstrending
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("../images/bg-icon-empty.png");
	height: 100%;
	background-color: rgba(241, 241, 241, 0.548);
}

.whatstrending > div
{
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.whatstrending > div > div
{
	width: 20vw;
	margin: 20px;
	background-color: rgb(255, 255, 255);	
}

.whatstrending > div > div > img
{
	width: 100%;
}
